<div class="account-pages mt-5 pt-5" style="background-color: #12214a">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div>
          <div class="text-center authentication-logo mb-2">
            <a [href]="siteUrl" class="logo-dark">
              <span
                ><img src="assets/images/logo-light.png" alt="" height="48"
              /></span>
            </a>
            <a [href]="siteUrl" class="logo-light">
              <span
                ><img src="assets/images/logo-light.png" alt="" height="48"
              /></span>
            </a>
          </div>

          <div class="text-center">
            <h3 style="color: #ffffff; font-weight: bold">
              <!-- Fazer login como {{ loginByTypeUser }} -->
            </h3>
          </div>

          <form (submit)="onSubmit()" [formGroup]="form">
            <div class="form-group">
              <label>{{
                formValue.type == "transporter" ? "Razão Social" : "Nome"
              }}</label>
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div
              class="form-group"
              *ngIf="formValue.type == 'transporter'"
              formGroupName="transporter"
            >
              <label>Nome Fantasia</label>
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label>{{
                formValue.type == "transporter" ? "CNPJ" : "CPF"
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="cpf_cnpj"
                [mask]="
                  formValue.type == 'transporter'
                    ? '00.000.000/0000-00'
                    : '000.000.000-00'
                "
              />
            </div>
            <div class="form-group">
              <label>Senha</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="form-group">
              <label>Celular</label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                mask="(00) 00000-0000"
              />
            </div>
            <div
              class="form-group"
              *ngIf="formValue.type == 'transporter'"
              formGroupName="transporter"
            >
              <label>Telefone</label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                mask="(00) 0000-0000"
              />
            </div>
            <div
              class="form-group"
              *ngIf="formValue.type == 'transporter'"
              formGroupName="transporter"
            >
              <label>Nome do responsável</label>
              <input
                type="text"
                class="form-control"
                formControlName="responsible"
              />
            </div>
            <!-- <div class="form-group mb-3">
              <label
                ><span style="color: #fff">{{ labelByTypeUser }}</span>
              </label>
              <input
                class="form-control"
                type="text"
                [placeholder]="labelByTypeUser"
                formControlName="email"
                [mask]="dynamicMask"
              />
            </div>

            <div class="form-group mb-3">
              <label for="password"
                ><span style="color: #fff">Senha</span></label
              >
              <input
                class="form-control"
                type="password"
                formControlName="password"
                placeholder="Sua senha"
              />
            </div>

            <div class="form-group mb-3">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  formControlName="remember_me"
                />
                <label class="custom-control-label" for="checkbox-signin"
                  ><span style="color: #fff">Lembrar-me</span></label
                >
              </div>
            </div>

            <div class="mb-1" *ngIf="form.value.type_user != 'admin'">
              <a class="link" routerLink="/" [queryParams]="{ type: 'admin' }"
                >Fazer login como Admin <i class="fa fa-external-link-alt"></i
              ></a>
            </div>
            <div class="mb-1" *ngIf="form.value.type_user != 'client'">
              <a class="link" routerLink="/" [queryParams]="{ type: 'client' }"
                >Fazer login como Cliente <i class="fa fa-external-link-alt"></i
              ></a>
            </div>
-->
            <div class="mb-1" *ngIf="form.value.type != 'transporter'">
              <a
                class="link"
                routerLink="/auth/create-account"
                [queryParams]="{ type: 'transporter' }"
                >Criar como transportadora
                <i class="fa fa-external-link-alt"></i
              ></a>
            </div>

            <div class="mb-1" *ngIf="form.value.type != 'client'">
              <a
                class="link"
                style="cursor: pointer"
                routerLink="/auth/create-account"
                [queryParams]="{ type: 'client' }"
                >Criar como cliente <i class="fa fa-external-link-alt"></i
              ></a>
            </div>

            <div class="form-group text-center mb-3">
              <button
                class="btn btn-primary btn-lg width-lg btn-rounded"
                type="submit"
              >
                <i class="fas fa-sign-in-alt"></i> Criar uma conta
              </button>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Usuário criado</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Parabéns, seu usuário foi criado. Para confirmar sua conta vá até seu
      e-mail e clique para confirmar
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Fechar
    </button>
  </div>
</ng-template>
