<header id="topnav">
  <div class="navbar-custom">
    <div class="container-fluid">
      <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="dropdown notification-list">
          <a class="navbar-toggle nav-link">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        </li>

        <!-- <li class="d-none d-sm-block">
          <form class="app-search">
            <div class="app-search-box">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" />
                <div class="input-group-append">
                  <button class="btn" type="submit">
                    <i class="fe-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </li> -->

        <li class="dropdown notification-list" ngbDropdown>
          <a
            class="nav-link dropdown-toggle waves-effect waves-light"
            tabindex="0"
            ngbDropdownToggle
            id="dropdownNotification"
            role="button"
          >
            <i class="fe-bell noti-icon"></i>
            <span class="badge badge-danger rounded-circle noti-icon-badge">{{
              data?.notifications.length
            }}</span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right dropdown-lg"
            ngbDropdownMenu
            aria-labelledby="dropdownNotification"
          >
            <div class="dropdown-item noti-title">
              <h5 class="m-0">
                <span class="float-right">
                  <a class="text-dark">
                    <small>Limpar Tudo</small>
                  </a> </span
                >Notificações
              </h5>
            </div>

            <div class="slimscroll noti-scroll">
              <a
                *ngFor="let notification of data?.notifications"
                class="dropdown-item notify-item"
                ngbDropdownItem
              >
                <div
                  class="notify-icon"
                  *ngIf="notification.image; else notImage"
                >
                  <img
                    [src]="notification.image"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                </div>
                <ng-template #notImage>
                  <div class="notify-icon" [ngClass]="notification.background">
                    <i class="mdi" [ngClass]="notification.icon"></i>
                  </div>
                </ng-template>

                <p class="notify-details">
                  {{ notification?.title }}
                  <small class="text-muted">{{
                    notification?.description
                  }}</small>
                </p>
              </a>
            </div>

            <a
              class="dropdown-item text-center text-primary notify-item notify-all"
              ngbDropdownItem
            >
              Ver todas
              <i class="fi-arrow-right"></i>
            </a>
          </div>
        </li>

        <li class="dropdown notification-list" ngbDropdown>
          <a
            class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown1"
            role="button"
          >
            <img
              src="assets/images/users/avatar-2.jpg"
              alt="user-image"
              class="rounded-circle"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown"
            ngbDropdownMenu
            aria-labelledby="navbarDropdown1"
          >
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Seja bem vindo!</h6>
            </div>

            <a
              href="cont-admin.html"
              class="dropdown-item notify-item"
              ngbDropdownItem
            >
              <i class="fe-user"></i>
              <span>Meus Dados</span>
            </a>

            <div class="dropdown-divider"></div>

            <a
              href="logout.html"
              class="dropdown-item notify-item"
              ngbDropdownItem
            >
              <i class="fe-log-out"></i>
              <span>Sair</span>
            </a>
          </div>
        </li>
      </ul>

      <div class="logo-box">
        <a href="index.html" class="logo text-center logo-light">
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="32" />
          </span>
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="48" />
          </span>
        </a>

        <a href="index.html" class="logo text-center logo-dark">
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="32" />
          </span>
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="48" />
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="topbar-menu">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu" routerLinkActive="active">
            <a routerLink="admin/dashboard">
              <i class="fe-airplay"></i>Dashboard
            </a>
          </li>

          <li class="has-submenu" routerLinkActive="active">
            <a>
              <i class="fe-bar-chart-2"></i>Consultas
              <div class="arrow-down"></div>
            </a>
            <ul class="submenu megamenu">
              <li>
                <ul>
                  <li><a routerLink="admin/queries/users">Usuarios</a></li>
                  <li><a routerLink="admin/queries/budgets">Orçamentos</a></li>
                  <li>
                    <a routerLink="admin/queries/transporters"
                      >Transportadoras</a
                    >
                  </li>
                  <li><a routerLink="admin/queries/moves">Mudanças</a></li>
                  <li><a routerLink="admin/queries/breakdowns">Avarias</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="has-submenu" routerLinkActive="active">
            <a>
              <i class="fe-grid"></i>Ferramentas
              <div class="arrow-down"></div>
            </a>
            <ul class="submenu megamenu">
              <li>
                <ul>
                  <li><a routerLink="admin/tools/contract">Contrato</a></li>
                  <li><a routerLink="admin/tools/fees">Taxas</a></li>
                  <li><a routerLink="admin/tools/admin">Administrador</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>
