<div class="row">
  <div
    class="col-xl-3 col-md-6"
    *ngFor="let item of informationBoxes; let i = index"
  >
    <app-information-box [data]="item">
      <i class="mdi mdi-arrow-up text-white font-22" *ngIf="i == 3"></i>
    </app-information-box>
  </div>
  <!-- end col -->
</div>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Orçamentos X Mudanças no Ano</h4>
        <p class="sub-header text-truncate">
          Comparativo de Orçamentos X Mudanças realizadas por mês.
        </p>

        <div dir="ltr">
          <!-- <div id="overlapping-bars" class="ct-chart ct-golden-section"></div> -->
          <x-chartist
            [type]="type"
            [data]="data"
            [options]="options"
            [events]="events"
          ></x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Orçamentos X Mudanças na Semana</h4>
        <p class="sub-header text-truncate">
          Demonstrativo de Orçamentos X Mudanças esta semana:
        </p>

        <div dir="ltr">
          <x-chartist
            [type]="type"
            [data]="data"
            [options]="options"
            [events]="events"
          ></x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
