<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">
            Data e Endereço (retirada e entrega)
          </h4>
          <p class="sub-header">
            Nesta seção voce deve preencher a data correta, e se atentar a
            colocar os endereços de retirada e entrega com os devidos
            complementos e CEP, para as transportadoras parceiras possam forncer
            um orçamento correto, evitando assim reajustes de velores na data da
            sua mudança!
          </p>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Data da Mudança</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="date"
                />
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-6">
              <h4 class="header-title mb-3">Endereço de Retirada</h4>
            </div>
            <div class="col-lg-6">
              <h4 class="header-title mb-3">Endereço de Entrega</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body bg-soft-info" formGroupName="origin">
                  <div class="form-group">
                    <label for="">CEP do Endereço de Retirada</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="cep"
                      mask="00000-000"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Endereço de Retirada (Rua)</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="street"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Numero</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="number"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Complemento</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="complement"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Bairro</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="neighborhood"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Cidade</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="city"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">UF</label>
                    <input
                      type="text"
                      class="form-control text-uppercase"
                      formControlName="state"
                      mask="SS"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div
                  class="card-body bg-soft-primary"
                  formGroupName="destination"
                >
                  <div class="form-group">
                    <label for="">CEP do Endereço de Retirada</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="cep"
                      mask="00000-000"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Endereço de Retirada (Rua)</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="street"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Numero</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="number"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Complemento</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="complement"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Bairro</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="neighborhood"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Cidade</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="city"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">UF</label>
                    <input
                      type="text"
                      class="form-control text-uppercase"
                      formControlName="state"
                      mask="SS"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Caracteristicas da Mudança</h4>
          <p class="sub-header">
            Assinale o maior numero de informações, pois toda informação
            inserida aqui influencia no valor do orçamento, e informações
            omitidas aqui serão agregadas o valor no ato da mudança.
          </p>

          <div class="row">
            <div class="col-lg-6">
              <h4 class="header-title mb-3">Endereço de Retirada</h4>
            </div>
            <div class="col-lg-6">
              <h4 class="header-title mb-3">Endereço de Entrega</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body bg-soft-info" formGroupName="withdrawal">
                  <div class="form-group">
                    <label for="">Tipo de Imóvel</label>
                    <select
                      class="form-control"
                      formControlName="type_building"
                    >
                      <option>--- Selecione ---</option>
                      <option>Casa Terrea</option>
                      <option>Casa Assobradada</option>
                      <option>Sobrado</option>
                      <option>Apartamento</option>
                      <option>Apartamento (duplex)</option>
                      <option>Apartamento (triplex)</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Quantidade de Dormitórios</label>
                    <select
                      class="form-control"
                      formControlName="number_bedroom"
                    >
                      <option *ngFor="let number of numberBedroons">
                        {{ number }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Elevador?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          formControlName="has_elevator"
                          id="hasElevator"
                        />
                        <label class="custom-control-label" for="hasElevator"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Escadas?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          formControlName="has_stairs"
                          id="has_stairs"
                        />
                        <label class="custom-control-label" for="has_stairs"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Estacionamento?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="has_parking"
                          formControlName="has_parking"
                        />
                        <label class="custom-control-label" for="has_parking"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Área de carga e descarga?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="has_loading_unloading_area"
                          formControlName="has_loading_unloading_area"
                        />
                        <label
                          class="custom-control-label"
                          for="has_loading_unloading_area"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">É Condominio Fechado?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="is_closed_condominium"
                          formControlName="is_closed_condominium"
                        />
                        <label
                          class="custom-control-label"
                          for="is_closed_condominium"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Tem Restrição de Horário?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="is_time_restriction"
                          formControlName="is_time_restriction"
                        />
                        <label
                          class="custom-control-label"
                          for="is_time_restriction"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body bg-soft-info" formGroupName="delivery">
                  <div class="form-group">
                    <label for="">Tipo de Imóvel</label>
                    <select
                      class="form-control"
                      formControlName="type_building"
                    >
                      <option>--- Selecione ---</option>
                      <option>Casa Terrea</option>
                      <option>Casa Assobradada</option>
                      <option>Sobrado</option>
                      <option>Apartamento</option>
                      <option>Apartamento (duplex)</option>
                      <option>Apartamento (triplex)</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Quantidade de Dormitórios</label>
                    <select
                      class="form-control"
                      formControlName="number_bedroom"
                    >
                      <option *ngFor="let number of numberBedroons">
                        {{ number }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Elevador?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          formControlName="has_elevator"
                          id="hasElevator2"
                        />
                        <label class="custom-control-label" for="hasElevator2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Escadas?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          formControlName="has_stairs"
                          id="has_stairs2"
                        />
                        <label class="custom-control-label" for="has_stairs2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Estacionamento?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="has_parking2"
                          formControlName="has_parking"
                        />
                        <label class="custom-control-label" for="has_parking2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Possui Área de carga e descarga?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="has_loading_unloading_area2"
                          formControlName="has_loading_unloading_area"
                        />
                        <label
                          class="custom-control-label"
                          for="has_loading_unloading_area2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">É Condominio Fechado?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="is_closed_condominium2"
                          formControlName="is_closed_condominium"
                        />
                        <label
                          class="custom-control-label"
                          for="is_closed_condominium2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Tem Restrição de Horário?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="is_time_restriction2"
                          formControlName="is_time_restriction"
                        />
                        <label
                          class="custom-control-label"
                          for="is_time_restriction2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Serviços Extras</h4>
          <p class="sub-header">
            Se desejar algum dos serviços extras, basta assinalar as opções que
            deseja abaixo.
          </p>

          <div class="row">
            <div class="col-lg-6">
              <h4 class="header-title mb-3">Endereço de Retirada</h4>
            </div>
            <div class="col-lg-6">
              <h4 class="header-title mb-3">Endereço de Entrega</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body bg-soft-info" formGroupName="withdrawal">
                  <div class="form-group">
                    <label for="">Desmontar Móveis/Objetos?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="disassemble_furniture"
                          formControlName="disassemble_furniture"
                        />
                        <label
                          class="custom-control-label"
                          for="disassemble_furniture"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Embalar Móveis/Objetos?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="pack_furniture"
                          formControlName="pack_furniture"
                        />
                        <label class="custom-control-label" for="pack_furniture"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body bg-soft-info" formGroupName="delivery">
                  <div class="form-group">
                    <label for="">Desembalar Móveis/Objetos?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="pack_furniture2"
                          formControlName="pack_furniture"
                        />
                        <label
                          class="custom-control-label"
                          for="pack_furniture2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Montar Móveis/Objetos?</label>
                    <div class="row">
                      <div
                        class="custom-control custom-checkbox col-3 offset-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="disassemble_furniture2"
                          formControlName="disassemble_furniture"
                        />
                        <label
                          class="custom-control-label"
                          for="disassemble_furniture2"
                          >Sim</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Inventário da Mudança</h4>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="">Nome </label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Liste aqui os móveis e objetos que serão transportados"
                  formControlName="inventory"
                ></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="">Obervações da mudança</label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Comentários adicionais sobre a mudança"
                  formControlName="comments"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <label for=""
                >Envie as fotos dos móveis ou objetos a serem traansportados.
              </label>
              <div class="row">
                <div class="col-lg-3" *ngFor="let image of showImages">
                  <img [src]="image" alt="Imagem da casa" style="width: 100%" />
                </div>
                <div class="col-lg-3">
                  <div class="mt-3">
                    <input type="file" (change)="upload($event)" />
                    <p class="text-muted text-center mt-2 mb-0">
                      Enviar arquivo
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="text-right">
            <button
              class="btn btn-lg btn-primary align-items-end"
              type="submit"
            >
              <i class="mdi mdi-content-save"></i> Salvar
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #content let-modal>
  <div class="modal-content p-0 b-0">
    <div class="card mb-0">
      <div class="card-header bg-primary">
        <button type="button" class="close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="card-title text-white mb-0">Aviso</h4>
      </div>
    </div>
    <div class="modal-body">
      <p>Seu orçamento foi criado, agora é só aguardar alguma resposta :)</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary waves-effect"
        (click)="modal.close()"
      >
        Ok
      </button>
    </div>
  </div>
</ng-template>
