.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;

  .page-item {
    box-sizing: border-box;

    &:first-child {
      .page-link {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }

    &.disabled {
      .page-link {
        color: #98a6ad;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border-color: #f5f3f3;
      }
    }

    &.active {
      .page-link {
        z-index: 3;
        color: #fff;
        background-color: #348cd4;
        border-color: #348cd4;
      }
    }

    .page-link {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #323a46;
      background-color: #fff;
      border: 1px solid #f5f3f3;
      cursor: pointer;
    }
  }
}
