<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Relação de Mudanças</h4>
        <app-datatable
          [columns]="datatableData?.columns"
          [paginationData]="datatableData?.paginationData"
          [filter]="filter"
          (changeLengthRegisters)="changeLengthRegisters($event)"
          (changePage)="changePage($event)"
          (search)="search($event)"
          (actionEvent)="seeData($event, content)"
        ></app-datatable>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-content p-0 b-0">
    <div class="card mb-0">
      <div class="card-header bg-primary">
        <button type="button" class="close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="card-title text-white mb-0">
          Informações sobre o Orçamento
        </h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row bg-light pt-3 pl-3 pr-3">
        <div class="col-md-4">
          <app-text-to-modal
            title="Cliente"
            [text]="selectedChange?.client?.name"
          ></app-text-to-modal>
        </div>
        <div class="col-md-4">
          <app-text-to-modal
            title="Cliente"
            [text]="selectedChange?.transporter?.name"
          ></app-text-to-modal>
        </div>
        <div class="col-md-4">
          <app-text-to-modal
            title="CPF"
            [text]="selectedChange?.budget?.date | date: 'dd/MM/yyyy'"
          ></app-text-to-modal>
        </div>
      </div>
      <div class="row mt-3" *ngIf="selectedChange?.budget?.withdrawal">
        <div class="col-lg-12">
          <h5>Caracterisiticas da Mudança - RETIRADA</h5>
        </div>

        <div class="col-md-3">
          <app-text-to-modal
            title="Tipo de Local"
            [text]="selectedChange?.budget?.withdrawal?.type_building"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Dormitórios"
            [text]="selectedChange?.budget?.withdrawal?.number_bedroom"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Elevador"
            [text]="
              selectedChange?.budget?.withdrawal?.has_elevator ? 'Sim' : 'Não'
            "
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Escadas"
            [text]="
              selectedChange?.budget?.withdrawal?.has_stairs ? 'Sim' : 'Não'
            "
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Estacionamento"
            [text]="'Não'"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Estacionamento"
            [text]="'Não'"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Desmontar"
            [text]="
              selectedChange?.budget?.withdrawal?.disassemble_furniture
                ? 'Sim'
                : 'Não'
            "
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Desmontar"
            [text]="
              selectedChange?.budget?.withdrawal?.pack_furniture ? 'Sim' : 'Não'
            "
          ></app-text-to-modal>
        </div>
      </div>
      <div class="row mt-3" *ngIf="selectedChange?.budget?.delivery">
        <div class="col-lg-12">
          <h5>Caracterisiticas da Mudança - ENTREGA</h5>
        </div>

        <div class="col-md-3">
          <app-text-to-modal
            title="Tipo de Local"
            [text]="selectedChange?.budget?.delivery?.type_building"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Dormitórios"
            [text]="selectedChange?.budget?.delivery?.number_bedroom"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Elevador"
            [text]="
              selectedChange?.budget?.delivery?.has_elevator ? 'Sim' : 'Não'
            "
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Escadas"
            [text]="
              selectedChange?.budget?.delivery?.has_stairs ? 'Sim' : 'Não'
            "
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Estacionamento"
            [text]="'Não'"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Estacionamento"
            [text]="'Não'"
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Desmontar"
            [text]="
              selectedChange?.budget?.delivery?.disassemble_furniture
                ? 'Sim'
                : 'Não'
            "
          ></app-text-to-modal>
        </div>
        <div class="col-md-3">
          <app-text-to-modal
            title="Desmontar"
            [text]="
              selectedChange?.budget?.delivery?.pack_furniture ? 'Sim' : 'Não'
            "
          ></app-text-to-modal>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <h5>OBSERVAÇÕES DO CLIENTE</h5>
          <div class="alert alert-info fade show" role="alert">
            {{ selectedChange?.budget?.comments }}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <h5>Lista de itens a tranportar</h5>
          <p>{{ selectedChange?.budget?.inventory }}</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <h5 *ngIf="selectedBudget?.images">Imagens da Mudança</h5>
          <img
            *ngFor="let image of selectedBudget?.images"
            [src]="storageLink + image.filename"
            class="img-fluid img-thumbnail m-2"
            width="190"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <h5 *ngIf="selectedChange?.breakdowns">Lista de avarias</h5>
          <div class="row">
            <div
              class="col-2"
              *ngFor="let breakdown of selectedChange?.breakdowns"
            >
              <p style="color: black; margin: 0; padding: 0">
                {{ breakdown.name }}
              </p>
              {{ breakdown?.description || "" }}
              <img
                [src]="storageBreakdown + breakdown.image"
                class="img-fluid img-thumbnail m-2"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary waves-effect"
        (click)="modal.close()"
      >
        Fechar
      </button>
    </div>
  </div>
</ng-template>
